.action-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}


.action-button {
   background-color: #f0f0f0;
   color: black;
}

.home {
    display: flex;
    flex-direction: column;

}

.initial-display {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-space {
    margin: 0;
    padding: 0;
}